 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 section {
     height: 100vh;
     background-color: #232027;
     font-family: monospace;
 }

 .score {
     color: azure;
     height: 20vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .score h2 {
     font-size: 30px;
 }

 .score p {
     text-align: center;
     padding: 10px;
     font-size: 25px;
 }

 .intro {
     color: azure;
     height: 50vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     opacity: 0;
 }

 .intro h1 {
     font-size: 50px;
 }

 .intro button,
 .match button {
     width: 150px;
     height: 50px;
     background: none;
     border: none;
     color: azure;
     font-size: 20px;
     background: #FACB38;
     border-radius: 4px;
     cursor: pointer;
 }

 .intro button,
 .match button:hover {
     background-color: transparent;
     color: azure;
     border: 2px solid #FACB38;
 }

 .match {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .winner {
     color: azure;
     text-align: center;
     font-size: 50px;
 }

 .hands,
 .options {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .player-hand {
     transform: rotateY(180deg);
 }

 div.fadeOut {
     opacity: 0;
     pointer-events: none;
 }

 div.fadeIn {
     opacity: 1;
     pointer-events: alls;
 }